{% extends "profbase.html" %}

{% block content %}
<style>
    .container1 {
        margin-bottom: 70px; /* Adjust the value as needed */
    }
    </style>
<div class="container1">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-14">
            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">Profile Details</h4>
                <hr>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-bold">Email:</label>
                            <p>{{ user.email }}</p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-bold">Userame:</label>
                            <p>{{ user.username }}</p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-bold">Name:</label>
                            <p>{{ user.name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-bold">Address:</label>
                            <p>{{ user.registered_address }}</p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-bold">Mobile Number:</label>
                            <p>{{ user.phone }}</p>
                        </div>
                    </div>
                    {{ if user.is_doctor }}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-bold">Designation:</label>
                            <p>{{ user.designation }}</p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-bold">License Number:</label>
                            <p>{{ user.license_no }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-bold">Service Tax Number:</label>
                            <p>{{ user.service_tax_no }}</p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-bold">Area of Operation:</label>
                            <p>{{ user.area_of_operation }}</p>
                        </div>
                    </div>
                    {{ endif }}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-bold">State:</label>
                            <p>{{ user.state }}</p>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="font-weight-bold">District:</label>
                            <p>{{ user.district }}</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="{% url 'profile' %}" class="btn btn-primary">Back to Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
